# Project exclude paths
/.gradle/
/.idea/
/build/
/common/.gradle/
/common/build/
/common/bin/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/bin/
/fabric/run/
/fabric/build/classes/java/main/
/forge/.gradle/
/forge/build/
/forge/bin
/forge/run